@charset "UTF-8";


.cabecalho {
    background-color: #941717ec;
    display: flex;
    justify-content: space-around;
    padding: 15px 0px 15px 0px;
    align-items: center;
    height: 60px;
}

.cabecalho-links {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 20px;
    margin: 16px;
    transition: 0.3s ease-in-out;
}

.cabecalho-links:hover {
    color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

nav a {
    position: relative;
}

nav a::after {
    content: " ";
    width: 0%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

nav a:hover::after{
    width: 100%; 
}

body {
    background-image: url();
}